:root {
  --bg: #ffffff;
  --bg-nav: #efefef;
  --bg-secondary: #f5f5f5;
  --bg-icon: black;

  --text: #111111;
  --accent: #646cff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  text-align: center;
  color-scheme: light;
  background: var(--bg);
  color: var(--text);

  transition: background 0.25s ease, color 0.25s ease;
}

:root.dark {
  --bg: #000000;
  --bg-nav: #101010;
  --bg-secondary: #1a1a1a;
  --bg-icon: white;
  --text: #f5f5f5;
  --accent: #8891ff;

  color-scheme: dark;
}

/* Hide dark logos by default */
.logo.dark-logo {
  display: none;
}

/* Hide light logos and show dark logos when .dark is active */
:root.dark .logo.light-logo {
  display: none;
}

:root.dark .logo.dark-logo {
  display: inline-block; /* or block if you prefer */
}


body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

a {
  font-weight: 500;
  color: "white";
  text-decoration: inherit;
  transition: color 0.25s ease, outline 0.25s ease;

}
a:hover {
  color: #EA8185;
}

a:focus,
a:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 3px;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



 
